<div class="hero-unit geddy-welcome-box">
  <h1>Pos Laju Tracking API</h1>
  <p>Simple API to retrieve parcel delivery status from Pos Laju. Feel free to use it.</p>
  <p>
  <%- linkTo('Get Tracking Demo »', 'http://poslajutracking.herokuapp.com/track/LD198280574MY', {class: 'btn btn-primary btn-large'}) %>
  <%- linkTo('Get Pricing Demo »', 'http://poslajutracking.herokuapp.com/price/domestic/500/zon/2', {class: 'btn btn-primary btn-large'}) %>
  </p>
  <br />
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Free Pos Laju Tracking API for developers!" data-via="h4ck4life" data-size="large">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <br />
    <br />
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHdwYJKoZIhvcNAQcEoIIHaDCCB2QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBC4Im/mMbPo52JI5Ro4uqfYewWneIgn+AODz62OJsxk071N/yiQI/Dklelc/pFnbxRcYRu3eogIl401jI5uJZE3sq/nPFXZGVVttz40/GMfHKlkN9pLcD8eCfc+4ien657Qfeyr1Jikic5QbBY1wwlnS6XrRN6o9aSlzaKxIFF9DELMAkGBSsOAwIaBQAwgfQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQICHIRbGMfr4SAgdBJUs1RccYRf8ufoiH7y4nch/lJ80caFdwpb+fOwWTp0frxXIjkUSXpT/0ecbJuL3XpLJCYe7tB+gJQS5ACTZCJ4NUJ7lgDTWhXH0onxfP4bdmRA3VVPkJ5sS52fq3QohyzIr/RQlROSGpEWaM7Lofu4FwrXipIr8++i1fhdPmspOVnVrp8rgT8QYuD2gER1ukJPvhMEscGyOd2Jd6MNvOW72TY2ToImSXTSp3YVhidU9lwJGD3iYtiW+a5pBmuMVqhh1qr9INZTC4YxegwYXT7oIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTUwMTA2MTYzODUwWjAjBgkqhkiG9w0BCQQxFgQUENDr/sm756BnNZuuB5inJ4387nkwDQYJKoZIhvcNAQEBBQAEgYBMrbpZ5C+qTMrLdK2ZnYfacnihe0zP+YLWmjBJSGJiqsjYDClvrAAW2cqd/A5AODoKPhVSRuMB+7M78+Z8e5skP2x2eP3HDxebZ1qVm1pLipLMqUCFq0/Rw5p+i8GfifnfulVp4XA4jxfWnDIK2BXlLhI1WFvg6FmGuzunNXt61w==-----END PKCS7-----
">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>
<div class="hero-unit">
  <h3>Tracking</h3>
  <p>
    Get Tracking<br />
   <pre>http://poslajutracking.herokuapp.com/track/<b>{parcel id}</b></pre><br />
    <i>Example:</i><br />
    <pre><i>http://poslajutracking.herokuapp.com/track/EM417670204MY</i></pre><br />
  </p>
  <h3>Pricing</h3>
  <p>
    Get Pricing<br />
    <pre>http://poslajutracking.herokuapp.com/price/domestic/<b>{weigh in grams}</b>/zon/<b>{location zon ID}</b></pre><br />
    <i>Example:</i><br />
    <pre>http://poslajutracking.herokuapp.com/price/domestic/250/zon/2</pre><br />
    <b>Zon ID reference:</b><br />
    1 = Dalam Bandar Yang Sama<br />
    2 = Dalam Semenanjung / Sabah /Sarawak<br />
    3 = Antara Sabah Dan Sarawak<br />
    4 = Antara Semenanjung Dengan Sarawak<br />
    5 = Antara Semenanjung Dengan Sabah<br /><br />
  </p>
  
  <h3>How To Use With jQuery AJAX</h3>
  
  Get Tracking<br />
  <pre>
	$.ajax({
		url: 'http://poslajutracking.herokuapp.com/track/EM417670204MY/<b>json</b>',
		type: 'GET',
		dataType: 'jsonp',
		error: function(xhr, status, error) {
		    console.log("error");
		},
		success: function(json) {
		    var result = jQuery.parseJSON(json);
		    console.log(result);
		}
	    }); 
   </pre>
  <br />
  Get Pricing<br />
  <pre>
	$.ajax({
		url: 'http://poslajutracking.herokuapp.com/price/domestic/950/zon/2/<b>json</b>',
		type: 'GET',
		dataType: 'jsonp',
		error: function(xhr, status, error) {
		    console.log("error");
		},
		success: function(json) {
		    var result = jQuery.parseJSON(json);
		    console.log(result);
		}
	    }); 
   </pre>
</div>
