<div class="hero-unit geddy-welcome-box">
  <h1>Pos Laju Tracking API</h1>
  <p>Simple API to retrieve parcel delivery status from Pos Laju. Feel free to use it.</p>
  <p><%- linkTo('Here is the demo »', 'http://poslajutracking.herokuapp.com/pos/get/EM417670204MY', {class: 'btn btn-primary btn-large'}) %></p>
</div>
