<div class="hero-unit geddy-welcome-box">
  <h1>Pos Laju Tracking API</h1>
  <p>Simple API to retrieve parcel delivery status from Pos Laju. Feel free to use it.</p>
  <p>
  <%- linkTo('Get Tracking Demo »', 'http://poslajutracking.herokuapp.com/track/EM417670204MY', {class: 'btn btn-primary btn-large'}) %>
  <%- linkTo('Get Pricing Demo »', 'http://poslajutracking.herokuapp.com/price/domestic/500/zon/2', {class: 'btn btn-primary btn-large'}) %>
  </p>
  <br />
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Free Pos Laju Tracking API for developers!" data-via="h4ck4life" data-size="large">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<div class="hero-unit">
  <h3>Tracking</h3>
  <p>
    Get Tracking<br />
   <pre class="text-info">http://poslajutracking.herokuapp.com/track/<b>{parcel id}</b></pre><br />
    <i>Example:</i><br />
    <pre class="text-info"><i>http://poslajutracking.herokuapp.com/track/EM417670204MY</i></pre><br />
  </p>
  <h3>Pricing</h3>
  <p>
    Get Pricing<br />
    <pre class="text-info">http://poslajutracking.herokuapp.com/price/domestic/<b>{weigh in grams}</b>/zon/<b>{location zon ID}</b></pre><br />
    <i>Example:</i><br />
    <pre class="text-info">http://poslajutracking.herokuapp.com/price/domestic/250/zon/2</pre><br />
    <b>Zon ID reference:</b><br />
    1 = Dalam Bandar Yang Sama<br />
    2 = Dalam Semenanjung / Sabah /Sarawak<br />
    3 = Antara Sabah Dan Sarawak<br />
    4 = Antara Semenanjung Dengan Sarawak<br />
    5 = Antara Semenanjung Dengan Sabah<br /><br />
  </p>
  
  <h3>How To Use With jQuery AJAX</h3>
  
  Get Tracking<br />
  <pre class="text-info">
	$.ajax({
		url: 'http://poslajutracking.herokuapp.com/track/EM417670204MY/<b>json</b>',
		type: 'GET',
		dataType: 'jsonp',
		error: function(xhr, status, error) {
		    console.log("error");
		},
		success: function(json) {
		    var result = jQuery.parseJSON(json);
		    console.log(result);
		}
	    }); 
   </pre>
  <br />
  Get Pricing<br />
  <pre class="text-info">
	$.ajax({
		url: 'http://poslajutracking.herokuapp.com/price/domestic/950/zon/2/<b>json</b>',
		type: 'GET',
		dataType: 'jsonp',
		error: function(xhr, status, error) {
		    console.log("error");
		},
		success: function(json) {
		    var result = jQuery.parseJSON(json);
		    console.log(result);
		}
	    }); 
   </pre>
</div>
